nav{
    background-color: #a5026986;
}

/* btn */
#percent-save-btn{
    position: relative;
    top: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
}
#cost-set-btn{
    float: right;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border : 0;
}
.cost-save-btn{
    float: right;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 0;
}
.name-update{
    float: right;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border : 0;
}