body, nav, main, ul, li, a, h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #a5026986;
}
h3{
    margin: 0 0 10px 0;
    display: inline-block;
}
#nav-area{
    height: 40px;
}
#title-area{
    display: inline-block; 
}
.center{
    width: 1130px;
    margin: 0 auto;
    padding: 0 30px;
}
main{
    border-top: 1px solid #000;
}
#main-center{
    padding: 0 30px 30px 30px;
}
#setting-area{
    float: right;
}
#setting{
    vertical-align: top;
    margin: 0;
    border: 2px solid #505050;
    width: 30px;
    height: 30px;
    background-color: #000;
}
.vertical-default{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#left-area{
    display: inline-block;
    vertical-align: top;
    width: 550px;
}
#right-area{
    display: inline-block;
    vertical-align: top;
    width: 550px;
}
#percent-area{
    margin: 20px 0 0 0;
    width: 450px;
    border: 1px solid #000;
}
#percent-inner-area{
    margin: 20px;
    width: 410px;
}
#percent-input-area{
    position: relative;
}
#percent-form{
    display: inline-block;
    width: 370px;
    height: 30px;
}
#percent-input{
    padding: 0;
    width: 366px;
    height: 26px;
}
#percent-save-btn{
    position: relative;
    top: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
}
#cost-area{
    margin: 20px 0 0 0;
    width: 450px;
    border: 1px solid #000;
}
#cost-inner-area{
    margin: 20px;
    width: 410px;
}
#cost-set-btn{
    float: right;
    width: 20px;
    height: 20px;
}
.cost-input-area{
    position: relative;
}
.name-update{
    float: right;
    width: 20px;
    height: 20px;
}
.cost-form{
    display: inline-block;
    width: 370px;
    height: 30px;
}
.cost-input{
    padding: 0;
    width: 200px;
    height: 26px;
}
.cost-delete{
    float: right;
    width: 20px;
    height: 20px;
}
#cost-btn-area{
    height: 30px;
}
.cost-save-btn{
    float: right;
    vertical-align: top;
    width: 30px;
    height: 30px;
}
#result-area{
    float: right;
    border: 1px solid #000;
    margin : 20px 0 0 0;
    width: 500px;
    height:264px;
}
#result-inner-area{
    margin: 20px;
}
#result-adjust-area{
    margin: 10px 0 10px 0;
    border: 1px solid #000;
}
#adjust{
    border-bottom: 1px solid #000;
}
#footer-area{
    height: 40px;
}
footer{
    border-top: 1px solid #111;
    background-color:#fafafa;
}