h3{
    margin: 0 0 10px 0;
    display: inline-block;
}
#setting-area{
    float: right;
}
.vertical-default{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#percent-form{
    display: inline-block;
    width: 370px;
    height: 30px;
}
#percent-input{
    padding: 0;
    width: 366px;
    height: 26px;
}
#cost-area{
    margin: 20px 0 0 0;
    width: 450px;
    border: 1px solid #000;
}

.cost-form{
    display: inline-block;
    width: 370px;
    height: 30px;
}
.cost-input{
    padding: 0;
    width: 200px;
    height: 26px;
}
.cost-delete{
    float: right;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border : 0;
}
#adjust{
    border-bottom: 1px solid #000;
}
footer{
    border-top: 1px solid #111;
    background-color:#fafafa;
}