.white-main{
    background-color: #fafafa;
}
.white{
    background-color: #fff;
}
.dark-main{
    background-color: #303030;
}
.dark{
    background-color: #aaa;
}
.dark-input{
    background-color: #c0c0c0;
}